.header {
  padding: 20px 0;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $small) {
      & {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
