.main-banner {
  margin-bottom: 30px;
  &-desktop {
    position: relative;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .logo {
      position: absolute;
      bottom: 30px;
      left: 100px;
      height: 130px;
      width: 130px;
    }
  }
  &-mobile {
    display: none;
  }
  @media (max-width: $small) {
    &-desktop {
      display: none;
    }
    &-mobile {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}
