html {
  font-size: 10px;
  font-family: $foundry;
  * {
    box-sizing: border-box;
  }
  a,
  a:hover {
    text-decoration: none;
    color: $black;
  }
  img {
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
    padding: 0;
    color: $black;
  }
}
