/* colors */
$red: #df0209;
$white: #fff;
$black: #000;
$graybg: #eee;
$graytext: #707070;
$graytextsecondary: #727b7a;
$green: #1cb72a;

/* fonts */
$foundry: "FoundryMonoline-MedIta", sans-serif;
$roboto: "Roboto", sans-serif;
$segoe: "Segoe UI", sans-serif;
